.blog-container{
    margin:auto;
    padding:50px;
    background:#fff;
    border-radius:3px;
    width:30vw;
    margin-bottom:50px;
    .story{
        border-bottom:1px solid #888888;
        padding:10px 5px;
        text-align:left;
        &:last-child{
            border:none;
        }
    }

    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */

    /* start laptop version */
    @media screen and (max-width: 2450px) {
        width:50vw;
    }

    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */

    /* start laptop version */
    @media screen and (max-width: 1025px) {
        width:70vw;
    }

    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */

    /* start laptop version */
    @media screen and (max-width: 600px) {
        width:auto;
        padding:20px 20px 0 20px;
        background:#fff;
        border-radius:0;
        .story{
            border-bottom:1px solid #888888;
            padding:10px 5px;
            text-align:left;
        }
    }
}